/* Style the buttons that are used to open and close the aie-accordion panel */
.aie-accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .aie-accordion:hover {
  background-color: #ccc;
}

/* Style the aie-accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  div {
    padding-top: 10px; 
    padding-bottom: 15px
  }
}

.aie-accordion::after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active::after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
input[type=checkbox] {
  width: 20px;
  height: 20px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: 2px;
  *overflow: hidden;
}